body {
  margin: 0;
}
.app {
  min-width: 18em;
  color: #000;
  font-size: 12px;
}
.operation {
  width: 100%;
  font-size: 14px;
}

.operation .item {
  cursor: default;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
}
.operation .item:hover {
  background-color: #eee;
  
}

.custom-form {
  padding-left: 20px;
}