body {
  margin: 0;
}

.container_header {
  display: block;
  position: relative;
  height: 80px;
  color: #fff;
  min-width: 1000px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  background-color: #3c7ff1;
}

.header_title {
  margin: 0 0 0 16px;
}
.header_logo {
  height: 60px;
}

.table {
  table-layout: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.85);
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  z-index: 0;
  font-size: 14px;
  background: #fff;
  border-radius: 2px;
  width: 100%;
}
.table tbody {
  max-height: 500px;
  overflow-y: auto;
}

.table tr td,th {
  position: relative;
  padding: 16px;
  overflow-wrap: break-word;
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
  overflow-x: auto;
}
.table thead {
  background-color: #FAFAFA;
}

.table tr td:first-child,th:first-child {
  width: 30%;
}

.table tr td:first-child,th:last-child {
  width: 10%;
}

.container_selecter {
  display: flex;
}
.list-container {
  width: 33%;
  margin: 10px;
}

.container_selecter .title {
  text-align: center;
  margin: 30px 0 10px;
  font-weight: 500;
  font-size: 20px;
}
.delete {
  cursor: pointer;
  color: #FA541C;
}